.page.theme_light {
  --background-color: #fff1f7;
  --background-image: url(../images/cover-image-light.png);
  --text-color: #353430;
  --display-icon: hidden;
  --menu-color: #353430;
  --page-title-color: #ffc2e6;
  --page-title-shadow-color: #ff8dcb;
  --title-color-text: #353430;
  --accent-color: #ff8dcb;
  --title-color: #353430;
  --hover-outline-color: rgba(50, 49, 45, 0.4);
}

@media (width >= 1024px) {
  .page.theme_light {
    --page-title-shadow-color: #ff0070;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fff1f7;
    --background-image: url(../images/cover-image-light.png);
    --text-color: #353430;
    --display-icon: hidden;
    --menu-color: #353430;
    --page-title-color: #ffc2e6;
    --page-title-shadow-color: #ff8dcb;
    --title-color-text: #353430;
    --accent-color: #ff8dcb;
    --title-color: #353430;
    --hover-outline-color: rgba(50, 49, 45, 0.4);
  }

  @media (width >= 1024px) {
    :root {
      --page-title-shadow-color: #ff0070;
    }
  }
}